.parent-container {
  padding: 20px;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  background-color: white;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}
