.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;

  mat-icon {
    margin: 0 4px;
  }
}

.btn {
  --btn-color: #1976d2; // default

  &.btn-type1 {
    background-color: var(--btn-color);
    color: #fff;
    border: 2px solid var(--btn-color);

    &:hover {
      background-color: color-mix(in srgb, var(--btn-color) 90%, black);
    }
  }

  &.btn-type2 {
    background-color: transparent;
    color: var(--btn-color);
    border: 2px solid var(--btn-color);

    &:hover {
      background-color: color-mix(in srgb, var(--btn-color) 10%, white);
    }
  }
}


/* Sizes */
.btn-small {
  padding: 4px 8px;
  font-size: 12px;
}

.btn-medium {
  padding: 8px 16px;
  font-size: 14px;
}

.btn-large {
  padding: 12px 20px;
  font-size: 16px;
}
