/* ===== Ensure the row is a single horizontal flex line ===== */
.filters .row {
  display: flex;
  flex-wrap: nowrap;        /* never wrap to next line */
  align-items: flex-start;      /* vertical center */
  gap: 8px;                 /* spacing between items */
  width: 70%;
  min-height: 1px;
 
}

/* Make labels compact and prevent wrapping */
.filters .label {
  white-space: nowrap;
  font-size: 12px;
  line-height: 16px;
  margin-right: 1px;
  color: #555;
  flex: 0 0 auto;           /* do not grow or shrink */
}

.filters .dense {
  height: 24px;
  width: 120px;
  display: flex;
}
/* Make Angular Material dropdowns compact */
::ng-deep .filters .dense .mat-mdc-form-field-wrapper {
  height: 24px;
  padding-bottom: 0px;
}

::ng-deep .filters .dense .mat-mdc-text-field-wrapper {
  height: 24px;
  padding: 0 8px;
}

::ng-deep .filters .dense .mat-mdc-form-field-infix {
  min-height: 8px;
  padding: 2px 0;
}

::ng-deep .filters .dense .mat-mdc-select-trigger {
  height: 20px;
  font-size: 11px;
  margin-bottom: 20px;
}

::ng-deep .small-panel {
  min-width: 120px;
  max-height: 200px;
}

::ng-deep .small-panel .mdc-list-item__primary-text {
  font-size: 12px;            /* ensure option text is sized */
  line-height: 18px;          /* make rows compact but readable */
}


.filters {
  border-bottom: 3px solid #ddd;
  padding-bottom: 8px; /* space before the line */
   margin-bottom: 16px; /* space after the line */
}

