
<div class="pagination" *ngIf="totalPages > 1">
  <!-- Prev with left arrow -->
  <button (click)="prev()" [disabled]="currentPage === 1">&lt; Previous</button>

  <!-- Numbers + ellipsis + last page -->
  <ng-container *ngFor="let item of paginationItems">
    <!-- Render numbers as buttons -->
    <button
      *ngIf="item !== 'ellipsis'; else dotsTpl"
      (click)="selectPage(item)"
      [class.active]="currentPage === item">
      {{ item }}
    </button>

    <!-- Ellipsis -->
    <ng-template #dotsTpl>
      <span class="dots">…</span>
    </ng-template>
  </ng-container>

  <!-- Next with right arrow -->
  <button (click)="next()" [disabled]="currentPage === totalPages">Next &gt;</button>
</div>
``
