.filter-container {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  width: 250px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}
.close-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
