.side-nav {
  width: 220px;
  height: 100vh;
  background-color:  #4d85ff; /* Alcon blue tone */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo img {
  width: 120px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

li:hover {
  background-color: #004080;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.label {
  font-size: 16px;
}
